trunk/Library/*
trunk/.vs/*
trunk/Temp/*
trunk/trunk.csproj
trunk/trunk.Editor.csproj
trunk/trunk.sln
trunk/OverwatchPro2.0.sln
trunk/OverwatchPro2.0.Editor.csproj
trunk/OverwatchPro2.0.csproj
trunk/OverwatchPro.sln
trunk/OverwatchPro.Editor.csproj.user
trunk/OverwatchPro.Editor.csproj
trunk/OverwatchPro.csproj
trunk/OverwatchPro.csproj
trunk/OverwatchPro.Editor.csproj
trunk/OverwatchPro.Editor.csproj.user
trunk/OverwatchPro.sln
trunk/OverwatchPro2.0.csproj
trunk/OverwatchPro2.0.Editor.csproj
trunk/OverwatchPro2.0.sln
trunk/Unity.PackageManagerUI.Editor.csproj
trunk/Unity.TextMeshPro.csproj
trunk/Unity.TextMeshPro.Editor.csproj
trunk/UnityEditor.StandardEvents.csproj
trunk/Unity.PackageManagerUI.Editor.csproj
